.card {
  width: clamp(350px, 48%, 500px);
  flex-shrink: 0;
  flex-grow: 0;
  height: fit-content;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 1px 24px 0px #00000024;
  transition: 0.3s;
}
a {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: stretch;
}

/* 2.1 Configurações do header do card: */
.card-header {
  width: 30%;
  margin: 0px;
  height: 200px;
  overflow: hidden;
}

/* 2.2 Configurações do body do card: */
.card-body {
  width: 70%;
  height: 503px;
  overflow: hidden;
  padding: 20px;
  padding-bottom: 0;
  color: rgb(var(--secondary-color));
}

/* 2.3 Configurações do Footer do card: */
.card-footer {
  display: none;
}
