main {
  background-image: url("/assets/images/index/trilha.png");
  background-attachment: fixed;
  background-size: contain;
}

/* [2.2] BARRA DE BUSCA (CONFIGURAÇÕES): */
.input-container {
  background-color: transparent;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar_btn {
  border: none;
  width: 70%;
  display: flex;
}

.bar_input {
  border: none;
  padding: 16px;
  padding-left: 25px;
  width: 100%;
  height: 60px;
  font-size: 1rem;
  border-radius: 50px 0px 0px 50px;
  box-shadow: 0px 1px 24px 0px #00000024;
}

.bar_input:focus {
  outline: none;
  border: 3px solid rgb(var(--primary-color));
  border-right: none;
  transition: none;
}

.btn_search {
  width: 80px;
  height: 60px;
  border-radius: 0px 50px 50px 0px;
  background-color: rgba(var(--primary-color), 0.7);
  border: none;
  box-shadow: 0px 1px 24px 0px #00000024;
}

.btn_search:hover {
  cursor: pointer;
  background-color: rgba(var(--primary-color));
}

.fa-search:hover {
  scale: 1.3;
}

.fa-search {
  font-size: 20px;
  color: #fff;
}

input:focus {
  outline: none;
}

/*CSS do container de resultados: */

/* [2.3] CARDS CONTAINER (CONFIGURAÇÕES): */
/* 2.0 Configurações do Card e Container: */
.container-cards {
  border: 0px dashed #333;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.container-cards .swipper {
  border: 0px dashed #333;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.not-found img {
  width: clamp(20%, 30%, 35%);
}

#text-pontos,
#text-restaurantes {
  padding-left: 20px;
  font-size: 20px;
}

.empty-search {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.empty-search img {
  width: clamp(200px, 50%, 100%);
}
.empty-search h3 {
  color: #333;
  animation: color_change 1s infinite alternate;
}
@keyframes color_change {
  0% {
    color: #333;
  }
  60% {
    color: #42a7c3;
  }
  100% {
    color: #42a7c3;
  }
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #42a7c3; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-none {
  display: none;
}

#div-pontos {
  margin-bottom: 100px;
}
#text-pontos,
#text-restaurantes {
  padding-bottom: 10px;
  border-bottom: #3339 2px solid;
}

/* ====================================================== */
@media only screen and (max-width: 800px) {
  /* [2.1] BANNER E LEGENDA (CONFIGURAÇÕES): */

  /* [2.2] - CONFIGURAÇÕES da BARRA DE BUSCA: */
  .search-bar_btn {
    width: 100%;
    padding: 0px 40px;
  }

  .bar_input {
    height: 54px;
  }

  .btn_search {
    height: 54px;
  }

  /* [2.3] CARDS CONTAINER (CONFIGURAÇÕES): */

  /* [2.4] CTA DE TURISMO (CONFIGURAÇÕES): */
  .container-call {
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
  }

  .banner-call {
    width: 100%;
    height: 280px;
  }

  .container-left {
    max-width: 72%;
    height: 30%;
    position: absolute;
    top: 70%;
  }

  .left-content {
    font-size: 0.8rem;
    text-align: center;
    width: 100%;
    height: auto;
    margin: 10px;
  }

  .not-found {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
}
