* {
  box-sizing: border-box;
  transition: none; /*all 0.9s ease-in-out*/
}
main {
  background-image: url("/assets/images/index/trilha.png");
  background-attachment: fixed;
  background-size: contain;
}

.section {
  width: 100%;
  max-width: 1246px;
  margin: 0 auto;
  padding: 0px;
  background: transparent; /*anti*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.container-a {
  background: transparent; /*aqua*/
  width: 60vw;
  height: auto;
  padding: 0px;
  display: flex;
  gap: 1px;
  margin-top: 40px;
  /* text-align: center;
    color: #fff; */
}

.a1 img,
.a2-1 img,
.a2-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.a1 img:hover,
.a2-1 img:hover,
.a2-2 img:hover {
  animation: kenburns-left 1s ease-out both;
}

@keyframes kenburns-left {
  0% {
    transform: scale(1) translate(0, 0);
    transform-origin: 16% 50%;
  }
  100% {
    transform: scale(1.25) translate(-20px, 15px);
    transform-origin: left;
  }
}

.a1 {
  background: transparent; /*red*/
  min-width: 30vw;
  padding: 0px; /*4px*/
  overflow: hidden;
}

.a2 {
  background: transparent; /*green*/
  min-width: 30vw;
  padding: 0px; /*4px*/
  display: flex;
  flex-direction: column;
  gap: 1px; /*4px*/
}

.a2-1 {
  background: transparent; /*red*/
  height: 50%;
  padding: 0px;
  overflow: hidden;
}

.a2-2 {
  background: transparent; /*orangered*/
  height: 50%;
  padding: 0px;
  overflow: hidden; /*4px*/
}

/* ============================================ */
.container-b {
  background: transparent; /*salmon*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4px;
  gap: 4px;
  font-size: 0.9em;
}

.b1 {
  background: transparent; /* green */
  padding: 4px;
  display: flex;
  align-items: start;
  width: 70%;
  gap: 4px;
}

.b1 .b1-1 {
  background: transparent; /*yellow*/
  width: 70%;
  height: 240px;
  padding: 20px;
}

.b1 .b1-2 {
  background: transparent; /*brown*/
  border-left: 1px solid #42a7c3;
  width: 20%;
  padding-left: 20px;
}

.b1-2 .ord-list li {
  background-color: transparent; /* aliceblue*/
  list-style-type: decimal;
  margin: 4px;
  padding: 10px;
  font-size: 0.9em;
}

.b2 {
  background: transparent; /*blue*/
  border-top: 1px solid #42a7c3;
  padding: 4px;
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 4px;
}

.b2 .b2-1 {
  background: transparent; /* greenyellow*/
  width: 80%;
  height: 100%;
  padding: 0px;
}

.b2 .b2-2 {
  background: transparent; /*red*/
  width: 100%;
  height: 380px;
  padding: 4px;
  border: 0px solid #42a7c3;
  margin: 0px auto;
}

.b2 .b2-2 iframe {
  width: 100%;
  height: 100%;
}

.b2-2 .ord-list li {
  background-color: transparent; /*aliceblue*/
  list-style-type: decimal;
  margin: 10px;
  padding: 10px;
  font-size: 0.9em;
}

.ol-title {
  border: 0px solid #333;
  color: #333;
  max-width: 100%;
  background-color: transparent;
  padding: 6px;
  font-size: 0.8rem;
}

@media only screen and (max-width: 800px) {
  .container-a {
    flex-direction: column;
    min-width: 90%;
  }

  .a1 {
    height: 200px;
  }

  .a2 {
    gap: 1px;
    flex-direction: row;
  }

  .a2-1 {
    min-width: 50%;
    height: 100%;
  }

  .a2-2 {
    min-width: 50%;
    height: 100%;
  }

  .b1 {
    display: flex;
    flex-direction: column;
    width: 80vw;
  }

  .b1 .b1-1 {
    width: 100%;
    height: auto;
    font-size: 0.9rem;
    border-top: 1px solid #42a7c3;
  }

  .b1 .b1-2 {
    border-left: none;
    width: 100%;
    font-size: 0.9rem;
    border-bottom: 1px solid #42a7c3;
  }

  .b2 {
    display: flex;
    flex-direction: column-reverse;
    width: 80vw;
    border-top: none;
  }

  .b2 .b2-1 {
    width: 100%;
    height: auto;
    font-size: 0.9rem;
  }

  .b2 .b2-2 {
    width: 100%;
    font-size: 0.9rem;
    border: none;
  }
}
