

/* [2.2] BARRA DE BUSCA (CONFIGURAÇÕES): */
.input-container {
  border: 0px dashed #333;
  background-color: transparent;
  width: 100%;
  height: 200px;
  display: flex;
      justify-content: center;
      align-items: center;
}

.search-bar_btn {
  border: 0px dashed #333;
  width: 40%;
  display: flex;

}

.bar_input {
  border: 0px solid var(--secondary-color);
  padding: 16px;
  width: 100%;
  height: 60px;
  border-radius: 50px 0px 0px 50px;
  box-shadow: 4px 4px 6px rgba(0,0,0,0.2);
}

.btn_search {
  width: 60px;
  height: 60px;
  border-radius: 0px 50px 50px 0px;
  background-color: #fff;
  border: 0px solid var(--secondary-color);
  box-shadow: 4px 4px 6px rgba(0,0,0,0.2);
}

.fa-search {
  font-size: 20px;
  columns: #333;
}

input:focus {
  outline: none;
}

/* [2.3] CARDS CONTAINER (CONFIGURAÇÕES): */
/* 2.0 Configurações do Card e Container: */
.container-cards {
  border: 0px dashed #333;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.container-cards .swipper {
  border: 0px dashed #333;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.card {
  border: 0px dashed #333;
  width: 280px;
  height: 460px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  transition: 0.3s;
}

.swiper-pagination {
  border: 0px dashed #333;
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  user-select: none;
}

.swiper-pagination img {
  height: 40px;
  -webkit-user-drag: none;
}


/* .card:hover {
  transform: scale3d(1.1, 1.1, 1);
} */

/* 2.1 Configurações do header do card: */
.card-header {
  border: 0px solid #333;
  margin: 0px;
  height: 200px;
  overflow: hidden;
}

.card-img {
  min-width: none;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.card-header img:hover {
  transform: scale(1.1);
}

/* 2.2 Configurações do body do card: */
.card-body {
  border: 0px dashed #333;
  min-height: 160px;
  padding: 0px 20px;
  text-align: justify;
}

.card-titulo {
  border: 0px dashed #333;
  font-size: 3vh;
  margin: 10px 0px;
}

.card-texto {
  border: 0px dashed #333;
  font-size: 2vh;
}

/* 2.3 Configurações do Footer do card: */
.card-footer {
  border-top: 4px solid #33333357;
  height: 60px;
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-card {
  border: none;
  border-radius: 30px;
  width: 200px;
  height: 40px;
  background: #3498b3;
  color: #fff;
  cursor: pointer;
}

/* .btn-card:hover {
background-color: #42a7c3;
color: #fff;
} */


/* [2.4] CTA DE TURISMO (CONFIGURAÇÕES): */
.container-cta {
  border: 0px dashed #333;
  position: relative;
  margin: 10px 0px;
  display: flex;
  justify-content: center;
}

.banner-call {
  max-width: 100%;
  height: 420px;
  margin: 0px 14%;
  border: 0px solid orange;
}

.banner-call img {
  width: 100%;
  height: 100%;
}

.container-left {
  position: absolute;
  background-color: #6565657b;
  max-width: 38%;
  min-width: 40%;
  top: 0;
  left: 10;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.left-content {
  color: #fff;
  font-size: 1.6rem;
  transition: font-size 1s ease-in-out;

  text-align: left;
  line-height: 1.5;
  width: 200px;
  min-width: 200px;
  height: 320px;
  overflow: hidden;
}

/* ====================================================== */
@media only screen and (max-width: 800px) {
/* [2.1] BANNER E LEGENDA (CONFIGURAÇÕES): */
.banner-caption {
  font-size: 1.2em;
  top: 78%;
  left: 50%;
  width: 100%;
  min-width: 100%;
  max-width: 400px;
  border-radius: 0px;
  padding: 10px;
  }

/* [2.2] - CONFIGURAÇÕES da BARRA DE BUSCA: */
.search-bar_btn {
  width: 100%;
  padding: 0px 40px;
  }

.bar_input {
  min-width: 170px;
  height: 54px;
  }

.btn_search {
  height: 54px;
  }

/* [2.3] CARDS CONTAINER (CONFIGURAÇÕES): */
  .card {
      width: 260px;
      height: 410px;
      gap: 5px;

    }
  .card:hover {
    transform: none;
  }

  .card-header {
    height: 180px;
  }

  .card-body {
    min-height: none;
    padding: 0px 10px;
  }

  .card-footer {
    height:56px;
    margin: 0px;
  }

  .btn-card {
    width: 156px;
    height: 34px;
  }

/* [2.4] CTA DE TURISMO (CONFIGURAÇÕES): */
.container-call {
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
  }

.banner-call {
  width: 100%;
  height: 280px;
  }


.container-left {
  max-width: 72%;
  height: 30%;
  position: absolute;
  top: 70%;
  }

.left-content {
  font-size: 0.8rem;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 10px;
  }
}