* {
  margin: 0px;
  padding: 0;
  font-family: roboto, sans-serif;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* Definindo que todos os links terão a cor padrão */
a {
  color: #333;
}

/* Ocultando o icone de hamburguer para sites desktop */
#menu-icon {
  display: none;
}

/* ocultando o menu menor para sites mobile */
.dropdown-menu {
  display: none;
}

/* ESTILO PARA TELAS GRANDES */
header {
  background: rgb(66, 167, 195);
  background: linear-gradient(
    180deg,
    rgba(66, 167, 195, 0.3) 0%,
    rgba(255, 255, 255, 1) 30%
  );
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 8%;
  min-height: 5rem;
}

.logo {
  color: #42a7c3;
  font-size: 2.5rem;
  font-weight: bolder;
}

.menu {
  display: flex;
  justify-content: space-around;
  width: 35rem;
}

.menu li {
  font-size: large;
  font-weight: bold;
  color: #333;
}

/* Estilos para sites mobile onde o menu maior é oculto, o hamburguer aparece e
é definido uma classe para exibir o menu menor que será chamada via js */

@media only screen and (max-width: 910px) {
  #menu-icon {
    display: block;
  }

  .menu {
    display: none;
  }

  .dropdown-menu {
    display: none;
    justify-content: center;
    align-items: center;
  }

  .dropdown-menu li {
    padding: 10px 30px;
    font-weight: bolder;
  }
}
