/* 1. CONFIGURAÇÕES GERAIS: */
* {
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;  
    transition: all 0.2s ease;  /* Define uma TRANSIÇÃO nos elementos */
    
}

:root {
    --primary-color: rgb(66, 167, 195);
    --secondary-color: rgb(51, 51, 51);
}

a {
    color: #333;
}

body {
  min-width: 300px;
}

/* 1.1 - OCULTANDO ICONE E MENU-DROPDOWN: */
#menu-icon {
    display: none;
    font-size: 2em;
}

.dropdown-menu {
    display: none;
}

/* 2 - CONFIGURAÇÃO PARA TELAS GRANDES: */
/* 2.1 - Estilo para o HEADER: */
header {
    background: rgb(226, 246, 252);
    background: linear-gradient(
      180deg,
      rgba(226, 246, 252, 1) 0%,
      rgba(255, 255, 255, 1) 80%
    );
}

.header {
    display: flex;                     /* Exibição do container: Flexível */
        justify-content: space-around; /* Alinhamento no eixo [X] (horizontal) */
        align-items: center;           /* Alinhamento no eixo [Y] (vertical)   */ 
    border: 1px dashed #333;         /* Borda */
      margin-bottom: 10px;             /* Margem Inferior */
      min-height: 5rem;                /* Altura mínima  */
}

.logo {
    color: var(--primary-color);  
    font-size: 2.5rem;
    font-weight: bolder;
    border: 0px dashed #333;
}

nav {
    border: 0px dashed #333;
}

.menu {
    display: flex;
    justify-content: space-around;
    width: 40rem;
}

.menu li {
    font-size: large;
    font-weight: bold;
    color: #333;
}

/* 2.2 - Estilo para o FOOTER: */

footer {
  background: rgb(226, 246, 252);
  background: linear-gradient(
    0deg,
    rgba(226, 246, 252, 1) 0%,
    rgba(255, 255, 255, 1) 80%
  );
}

.footer {
    display: flex;
        justify-content: space-between; 
    border: 1px dashed #333;
        margin-top: 10px;
        padding: 5%;
        width: 100%;
    color: #333;
}

.project-footer > * {
    border: 0px dashed #333;
    margin-bottom: 3px;
}

.logo-footer {
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: bolder;
}

.about-us-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
}

.about-us-footer h3 {
    font-size: x-large;
    color: var(--primary-color);
    text-shadow: 2px 1px 0px rgba(3, 3, 3, 0.2);
  }
  
  .members-footer {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: none;
  }
  
  .members-footer img {
    max-width: 20%;
    min-width: 80px;
    height: auto;
    padding: 10px;
    border-radius: 50%;
  }

  .members-footer img:hover {
    opacity: 0.7;
  }
  
  .menu-footer {
    padding-top: 30px;
  }
  
  .menu-footer > ul > li {
    padding-top: 5px;
    font-weight: bold;
  }


/* 3 - CONFIGURAÇÃO PARA TELAS PEQUENAS (MOBILE): */
/* Descrição: Estilos para sites mobile onde o menu maior é oculto, o hamburguer aparece e é definido uma classe para exibir o menu menor que será chamada via js (VIDE: item 2)*/

@media only screen and (max-width: 910px) {
    .logo {
      font-size: 2rem;
    }

    #menu-icon {
        display: block;
    }

    .menu {
        display: none;
    }

    .dropdown-menu {
        display: none;
        justify-content: center;
        align-items: center;
    }

    .dropdown-menu li {
        padding: 10px 30px;
        font-weight: bolder;
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    
        color: #333;
      }
    
      .footer > * {
        margin-top: 20px;
      }
    
      .members-footer {
        flex-wrap: wrap;
        justify-content: center;
      }
    
      .menu-footer {
        display: none;
      }
      .project-footer {
        display: flex;
        align-items: center;
      }
      .group {
        margin-left: 4vw;
        padding-left: 2vw;
        border-left: solid 2px #42a7c3;
      }
      
}