<div class="footer">
    <section class="project-footer">
        <h3 class="logo-footer">Partiu!</h3>
        <div class="group">
            <h4>Projeto Integrador</h4>
            <h4>Grupo 1</h4>
            <h4>Proz</h4>
        </div>
    </section>
    <section class="about-us-footer">
        <h3>Sobre Nós</h3>
        <figure class="members-footer">
            <img 
                src="/assets/images/membros/edna.jpeg" 
                alt="Membro"
                title="Nome-do-membro"
            >
            <img 
                src="/assets/images/membros/erick.jpg" 
                alt="Membro"
                title="Nome-do-membro"
            >
            <img 
                src="/assets/images/membros/jessica.jpeg" 
                alt="Membro"
                title="Nome-do-membro"
            >
            <img 
                src="/assets/images/membros/karen.jpg" 
                alt="Membro"
                title="Nome-do-membro"
            >
            <img 
                src="/assets/images/membros/lucas.jpg" 
                alt="Membro"
                title="Nome-do-membro"
            >
        </figure>          
    </section>  
    <nav class="menu-footer">
        <ul>
            <li><a href="#">Sugestões</a></li>
            <li><a href="#">Destinos</a></li>
            <li><a href="#">Restaurantes</a></li>
        </ul>
    </nav>     
</div> 